MONGO_URI=mongodb://mongodb:27017/lapd-mdt
JWT_SECRET=replace_me
PORT=4000
OFFICER_ROLE_ID=1474417640003993691
DISCORD_CLIENT_ID=1472338134766321856
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://enforcer-hub.lovable.app/
